---
import { Image } from "astro:assets";
import logo from "../images/garrett-integrations-logo.png";
---

<div class="relative flex items-center">
  <!-- Clean, simple logo container -->
  <div class="relative px-2 py-1">
    <Image
      {...Astro.props}
      src={logo}
      alt="Garrett Integrations"
      class={Astro.props.class ?? "h-12 w-auto object-contain transition-opacity duration-300 hover:opacity-90"}
      inferSize
    />
  </div>
</div>
